<div class="container">
  <div class="jumbotron mt-3">
    <h2 style="color: #94979d;">Billing Adress - Blue Nile</h2>
    <label for="" style="color: red;"
      >° Please enter a valid zip code for your region.</label
    >

    <ng-container [formGroup]="formulario">
      <div class="row" style="background-color: #edf6fd;">
        <label for=""
          >Would you like to create a blue nile account and store this
          information?</label
        >
        <div class="form-check form-check-inline ml-3">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>

      <div class="form-row mt-4">
        <label for="" class="ml-3">First Name</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': ValidateForm('First_name').error == false,
              'is-invalid': ValidateForm('First_name').error == true
            }"
            name="First_name"
            formControlName="First_name"
            placeholder="First name"
          />
          <div
            *ngIf="ValidateForm('First_name').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateForm("First_name").message }}
          </div>
        </div>

        <label for="" class="ml-3">* Address</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': ValidateForm('Adress').error == false,
              'is-invalid': ValidateForm('Adress').error == true
            }"
            name="Adress"
            formControlName="Adress"
            placeholder="Adress"
          />
          <div
            *ngIf="ValidateForm('Adress').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateForm("Adress").message }}
          </div>
        </div>
      </div>

      <div class="form-row mt-4">
        <label for="" class="ml-3">Last Name</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': ValidateForm('Last_Name').error == false ,
              'is-invalid': ValidateForm('Last_Name').error== true
            }"
            formControlName="Last_Name"
            name="Last_Name"
            placeholder="Last name"
          />
          <div
            *ngIf="ValidateForm('Last_Name').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateForm("Last_Name").message }}
          </div>
        </div>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            name="Last_Name"
            placeholder=""
          />
        </div>
      </div>

      <div class="form-row mt-4">
        <label for="" class="ml-3">Company</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': ValidateForm('Company').error == false,
              'is-invalid': ValidateForm('Company').error== true
            }"
            name="Company"
            formControlName="Company"
            placeholder="Company"
          />
          <div
            *ngIf="ValidateForm('Company').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateForm("Company").message }}
          </div>
        </div>
        <label for="" class="ml-3">City</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            name="City"
            [ngClass]="{
              'is-valid': ValidateForm('City').error == false ,
              'is-invalid': ValidateForm('City').error == true
            }"
            formControlName="City"
            placeholder="Aguascalientes"
          />
          <div
            *ngIf="ValidateForm('City').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateForm("City").message }}
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputCity">Phone</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': ValidateFormNumerico('Phone').error == false,
              'is-invalid': ValidateFormNumerico('Phone').error == true
            }"
            formControlName="Phone"
            name="Phone"
          />
          <div
            *ngIf="ValidateFormNumerico('Phone').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateFormNumerico("Phone").message }}
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="">Ext</label>
          <input
            type="text"
            name="ext"
            class="form-control"
            [ngClass]="{
              'is-valid': ValidateFormNumerico('ext').error == false,
              'is-invalid': ValidateFormNumerico('ext').error == true
            }"
            formControlName="ext"
          />
          <div
            *ngIf="ValidateFormNumerico('ext').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateFormNumerico("ext").message }}
          </div>
        </div>
        <div class="form-group col-md-5">
          <label for="inputState">State</label>
          <select
            id="inputState"
            [ngClass]="{
              'is-valid': ValidateForm('state').error == true,
              'is-invalid': ValidateForm('state').error == false
            }"
            formControlName="state"
            name="state"
            class="form-control"
          >
            <option selected>Choose...</option>
            <option>Aguascalientes</option>
            <option>CDMX</option>
            <option>Queretaro</option>
            <option>Puebla</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <label for="" class="ml-3">Email</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            name="Email"
            placeholder="Email"
          />
        </div>
        <label for="" class="ml-3">* Zip Code</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            name="ZipCode"
            placeholder="Zip Code"
            [ngClass]="{
              'is-valid': ValidateFormNumerico('ZipCode').error == false,
              'is-invalid': ValidateFormNumerico('ZipCode').error == true
            }"
            formControlName="ZipCode"
          />
          <div
            *ngIf="ValidateFormNumerico('ZipCode').error"
            class="invalid-feedback d-block"
          >
            {{ ValidateFormNumerico("ZipCode").message }}
          </div>
        </div>
      </div>

      <div class="form-row mt-3">
        <label for="" class="ml-3">Re-Type Email</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            name="ReTypeEmail"
            placeholder="Email"
          />
        </div>
        <label for="contryInput" class="ml-3">* Country</label>
        <div class="col ml-3">
          <select
            id="contryInput"
            [ngClass]="{
              'is-valid': ValidateForm('country').error == false,
              'is-invalid': ValidateForm('country').error == true
            }"
            formControlName="country"
            class="form-control"
            name="country"
          >
            <option value="">Selecciona pais</option>
            <option
              value="{{ country }}"
              *ngFor="let country of CountriesName"
              >{{ country }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <label for="" style="font-style: italic;"
            >Enter an adress where can send an e-mail confirming your order
          </label>
        </div>

        <div class="col ml-5">
          <label for="">* Adress type:</label>
          <div class="form-check form-check-inline ml-4">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Home</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Bussines</label>
          </div>
        </div>
      </div>

      <div class="row mt-2 ml-1">
        <label for=""
          >Are you shipping this order to your billing address?</label
        >
        <div class="form-check form-check-inline ml-3">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
    </ng-container>
    <div class="col-12 mt-3">
      <button
        type="button"
        (click)="MostrarFormulario()"
        class="btn btn-outline-info btn-block"
      >
        Guardar Info
      </button>
    </div>
  </div>
</div>
