<div class="container">
  <div class="jumbotron">
    <form action="">
      <div class="row" style="background-color: #edf6fd;">
        <label for=""
          >Would you like to create a blue nile account and store this
          information?</label
        >
        <div class="form-check form-check-inline ml-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
      </div>

      <div class="form-row mt-4">
        <label for="" class="ml-3">First Name</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="First name" />
        </div>
        <label for="" class="ml-3">* Address</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="Adress" />
        </div>
      </div>

      <div class="form-row mt-4">
        <label for="" class="ml-3">Last Name</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="Last name" />
        </div>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="" />
        </div>
      </div>

      <div class="form-row mt-4">
        <label for="" class="ml-3">Company</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="Company" />
        </div>
        <label for="" class="ml-3">City</label>
        <div class="col ml-3">
          <input
            type="text"
            class="form-control"
            placeholder="Aguascalientes"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputCity">Phone</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group col-md-2">
          <label for="">Ext</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group col-md-5">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>Aguascalientes</option>
            <option>CDMX</option>
            <option>Queretaro</option>
            <option>Puebla</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <label for="" class="ml-3">Email</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="Email" />
        </div>
        <label for="" class="ml-3">* Zip Code</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="Zip Code" />
        </div>
      </div>

      <div class="form-row mt-3">
        <label for="" class="ml-3">Re-Type Email</label>
        <div class="col ml-3">
          <input type="text" class="form-control" placeholder="Email" />
        </div>
        <label for="" class="ml-3">* Country</label>
        <div class="col ml-3">
          <select name="" id="" class="form-control">
            <option value="">Selecciona una opcion</option>
            <option>Mexico</option>
            <option>USA</option>
            <option>CANADA</option>
            <option>BRASIL</option>
          </select>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <label for=""
            >Enter an adress where can send an e-mail confirming your order
          </label>
        </div>

        <div class="col ml-5">
          <label for="">* Adress type:</label>
          <div class="form-check form-check-inline ml-4">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">Home</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">Business</label>
          </div>
        </div>
      </div>

      <div class="row mt-2 ml-1">
        <label for=""
          >Are you shipping this order to your billing address?</label
        >
        <div class="form-check form-check-inline ml-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </div>
    </form>
  </div>
</div>
